{% extends ngbm.layoutTemplate %}

{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

{# content \eZ\Publish\API\Repository\Values\Content\Content #}
{% set content = content.innerContent %}
{# location \eZ\Publish\API\Repository\Values\Content\Location #}
{% set location = location.innerLocation %}
{% set show_path = false %}

{% if not ez_is_field_empty(content, 'line_intro') %}
    {% set meta_data = {'description': ez_field_value(content, 'line_intro').xml.saveXML()|striptags|trim|truncate(152)} %}
{% elseif not ez_is_field_empty(content, 'full_intro') %}
    {% set meta_data = {'description': ez_field_value(content, 'full_intro').xml.saveXML()|striptags|trim|truncate(152)} %}
{% endif %}

{#{% set poster_image = content_fields.background_poster(content) %}#}

{% block content %}
    <article class="view-type view-type-{{ view_type }} ng-article vf1">
        {% block article_header %}
            <header class="full-page-header full-article-header">
                <div class="container">
                    {% if not ez_is_field_empty(content, 'sponsored_content_disclosure') %}
                        <div class="full-page-sponsored-tag">
                            <span>{{ ez_field_value(content, 'sponsored_content_disclosure').text }}</span>
                        </div>
                    {% elseif not ez_is_field_empty(content, 'main_topic') %}
                        <div class="full-page-main-tag">
                            <a href="{{ ngmore_topic_path(ez_field_value(content, 'main_topic').tags[0]) }}">{{ ez_field_value(content, 'main_topic').tags[0].keyword }}</a>
                        </div>
                    {% endif %}
                    <h1 class="full-page-title">{{ ez_render_field(content, 'title') }}</h1>
                    <div class="full-page-info">
                        {% if not ez_is_field_empty(content, 'authors') %}
                            By
                            {% for author_content_id in ez_field_value(content, 'authors').destinationLocationIds %}
                                <a href="{{ path('ez_urlalias', {contentId: author_content_id}) }}" class="article-author">{{ demo_content_name(author_content_id) }}</a>
                            {% endfor %} –
                        {% endif %}
                        <time>{{ content.contentInfo.publishedDate.date|date('F jS, Y') }}</time>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container">
            {% block image %}
                {% if not ez_is_field_empty(content, 'image') or not ez_is_field_empty(content, 'related_multimedia') %}
                    <div class="full-article-image">
                        {{ render(
                            controller(
                                'ngmore.controller.parts:viewRelatedMultimediaItems', {
                                    'locationId': location.id,
                                    'includeChildren': true,
                                    'contentTypeIdentifiers': ['image', 'ng_video'],
                                    'template': '@ezdesign/parts/related_multimedia.html.twig'
                                }
                            )
                        ) }}
                    </div>
                {% endif %}
            {% endblock %}

            <div class="full-article-content">

                {% block body %}
                    <div class="full-article-body">
                        {% if not ez_is_field_empty(content, 'full_intro') %}
                            <div class="article-intro">
                                {{ ez_render_field(content, 'full_intro') }}
                            </div>
                        {% endif %}

                        {% if not ez_is_field_empty(content, 'body') %}
                            {{ ez_render_field(content, 'body') }}
                        {% endif %}

                        {% if not ez_is_field_empty(content, 'tags') %}
                            <div class="full-article-tags">
                                {% for tag in ez_field_value(content, 'tags').tags %}
                                    <a href="{{ path(tag) }}">{{ tag.keyword }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}

            </div>
        </div>
    </article>
{% endblock %}
